<!DOCTYPE html>
<html lang="es">
    <%- include('../../partials/head', {title: 'Panel de productos'})%>
<body>
    <%- include('../../partials/header-administracion')%>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-xs-12">
          <h2>crear Productos<a href="/admin/products/create"><button style="margin-left:10px" class="btn btn-success ">Nuevo</button></a></h2>
        </div>
      </div>
        <main class="main-administrador">
 
          <div class="row">
               <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                 <div class="table-resposive">
                   <table class="table table-striped table-bordered table-condensed table-hover">
                     <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Descuento</th> 
                        <th>Stock</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                     </thead>

                     <% products.forEach(product => { %>

                      <tr>
                        <td><%= product.id %></td>
                        <td><%= product.nombre %></td>
                        <td><%= product.description %></td>
                        <td><%= product.price %></td>
                        <td><%= product.discount %></td>
                        <td><%= product.stock %></td>
                        <td>
                          <img src="/images/products/<%= product.image %> " height="100px" width="100px" class="img-thumbnail">
                        </td>
                        <td>
                          <a href="/admin/product/edit/<%=product.id %>" method="get" ><button class="btn btn-info">Editar</button></a>
                          <form method="POST" action="/admin/product/delete/<%= product.id %>?_method=DELETE">
                            <button class="btn btn-danger"type="submit">Eliminar</button> 
                          </form>
                        </td>
                      </tr>
                       <% }) %>  

                   </table>
                   </div>
                 </div>
               </div>
             
            </div>
        </main>
    </div>
</body>
</html>