<!DOCTYPE html>
<html lang="es">
    <%- include('../../partials/head', {title: 'Panel de productos'})%>
<body>
    <%- include('../../partials/header-administracion')%>
  <main class="dashAdmin">
    <h1 class="dashTitle">Listado de productos</h1>
      <table class="tableProducts">
        <thead class="headTable">
          <th class="rowData">Id</th>
          <th class="rowData">Nombre</th>
          <th class="rowData">Descripcion</th>
          <th class="rowData">Precio en $</th>
          <th class="rowData">Descuento en %</th> 
          <th class="rowData">Stock unidades</th>
          <th class="rowData">Imagen</th>
          <th class="rowData">Opciones</th>
        </thead>
        <tbody class="bodyTable">

        <% for (let i = 0; i < products.length; i++) { %>
                     
          <tr class="rowTable">
            <td class="rowData center"><p class="rowTitle">id</p><%= products[i].idproducts %></td>
            <td class="rowData center"><p class="rowTitle">nombre</p><%= products[i].nombre %></td>
            <td class="rowData"><p class="rowTitle">descripción</p><%= products[i].description %></td>
            <td class="rowData center"><p class="rowTitle">precio $</p><%= products[i].price %></td>
            <td class="rowData center"><p class="rowTitle">descuento %</p><%= products[i].discount %></td>
            <td class="rowData center"><p class="rowTitle">cantidad</p><%= products[i].stock %></td>
            <td class="rowContainer">
              
              <% if (products[i].idproducts == images[i].idproducts) { %>
                <img class="rowImage" src="/images/products/<%= images[i].images %> " height="100px" width="100px" class="img-thumbnail">
              <% } %>
              
            </td>
            <td class="rowContainer">
              <a class="rowAnchor" href="/admin/products/<%=products[i].idproducts %>/edit" method="get" >
                <i class="fas fa-pencil"></i></button>
              </a>
              <form method="POST" action="/admin/products/delete/<%= products[i].idproducts %>?_method=DELETE">
                <button class="rowBtn" type="submit"><i class="fas fa-trash"></i></button> 
              </form>
            </td>
          </tr>

        <% } %> 

        </tbody>
    </table>
  </main>
</body>
</html>