<!DOCTYPE html>
<html lang="es">
    
<%- include('../../partials/head', {title: 'Editando producto'})%>

<body class="vista-admin-producto">

    <%- include('../../partials/header-administracion')%>

    <main class="tablero-admin-producto">
        <div class="contenedor-admin-producto">
            <h1 class="titulo-formulario-admin">Editando publicación</h1>
            <form id="formProduct" class="formulario-admin-producto"action="/admin/products/<%=product.idproducts %>/update?_method=PUT" method="POST" enctype="multipart/form-data" >
                <div class="contenedor-datos-1">
                    <div class="datos-productos-admin">
                        <label class="titleLabel" for="agregar-nombre">Nombre del producto:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-pencil-alt"></i>
                            <input class="input-agregar-dato require" name="nombre" type="text" id="agregar-nombre" value="<%= locals.old? old.nombre: product.nombre %>">
                        </div>
                        <small class="errorNombre errorDanger"></small>
                        <% if (locals.errors && errors.nombre) { %>
                         <small class="errorDanger"><%= errors.nombre.msg %></small>
                        <% } %>
                    </div>
                    <div class="datos-productos-admin">
                        <label class="titleLabel" for="agregar-precio">Precio:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-dollar-sign"></i>
                            <input class="input-agregar-dato require" name="price" type="text" id="agregar-precio" value="<%= locals.old? old.price: product.price %>">
                        </div>
                        <small class="errorPrice errorDanger"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small class="errorDanger"><%= errors.price.msg %></small>
                        <% } %>
                    </div>
                    <div class="datos-productos-admin">
                        <label class="titleLabel" for="agregar-discount">descuento:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-percentage"></i>
                            <input class="input-agregar-dato require" name="discount" type="text" id="agregar-discount" value="<%= locals.old? old.discount: product.discount %>">
                        </div>
                        <small class="errorDiscount errorDanger"></small>
                        <% if (locals.errors && errors.discount) { %>
                            <small class="errorDanger"><%= errors.discount.msg %></small>
                        <% } %>
                    </div>
                    <div class="datos-productos-admin">
                        <label class="titleLabel" for="agregar-cantidad">Cantidad:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-layer-group"></i>
                            <input class="input-agregar-dato require" name="stock" type="text" id="agregar-cantidad" value="<%= locals.old? old.stock : product.stock %>">
                        </div>
                        <small class="errorStock errorDanger"></small>
                        <% if (locals.errors && errors.stock) { %>
                            <small class="errorDanger"><%= errors.stock.msg %></small>
                        <% } %>
                    </div>
                    <div class="descripcion-productos-admin">
                        <label class="titleTextarea" for="descripcion">Descripción del producto</label>
                        <div>
                            <textarea class="textarea-admin require" name="description" id="descripcion" cols="10" rows="10" ><%= locals.old? old.description: product.description %></textarea>
                        </div>
                        <% if (locals.errors && errors.description) { %>
                            <small class="errorDanger"><%= errors.description.msg %></small>
                        <% } %>    
                    </div> 
                    <small class="errorDescription errorDanger"></small>   
                </div>
                <div class="contenedor-datos-2">
                    <div class="select-opciones-administrador">
                        <label class="titleLabel">Categorías:</label>
                        <div class="select-opcion-administrador">
                            <select class="seleccion-admin require" name="category">
                                <option selected hidden value="">categorias</option>
                                <% categories.forEach(category => { %>  
                                <option class="opcion-admin" value="<%= category.idcategory %>" <%- locals.old && old.category == category.idcategory? "selected" : category.idcategory == product.subcategory.idcategory ? "selected" : "" %>>
                                    <%= category.name %>
                                </option>
                                <% }) %> 
                            </select>
                        </div>
                        <small class="errorCategory errorDanger"></small>
                        <% if (locals.errors && errors.category) { %>
                            <small class="errorDanger"><%= errors.category.msg %></small>
                        <% } %>
                    </div>
                    <div class="select-opciones-administrador">
                        <label class="titleLabel">Sub-Categorías:</label>
                        <div class="select-opcion-administrador">
                            <select class="seleccion-admin require" name="subcategory">
                                <option selected hidden value="">sub-categorias</option>
                                <% subcategories.forEach(subcategory => { %>
                                <option class="opcion-admin" value="<%- subcategory.idsubcategory %> " <%- locals.old && old.subcategory == subcategory.idsubcategory? "selected": subcategory.idsubcategory == product.idsubcategory? "selected": "" %>>
                                     <%=subcategory.name  %>  
                                </option>
                                <% }) %> 
                            </select>
                        </div>
                        <small class="errorSubcategory errorDanger"></small>
                        <% if (locals.errors && errors.subcategory) { %>
                            <small class="errorDanger"><%= errors.subcategory.msg %></small>
                        <% } %>
                    </div>
                    <div class="upload-image">
                        <label class="titleLabel">Agregar imagen:</label>
                        <div class="contenedor-imagen-admin">
                            <label class="containerName" for="image-create-product">click para subir imagen</label>
                            <input class="imagen-admin require" type="file" name="image" id="image-create-product">
                        </div>
                        <div class="imagen-producto-admin" id="image-preview">
                            <img src="" alt="" id="imagen-previa">
                            <i class="fas fa-camera"></i>
                        </div>
                        <small class="errorImage errorDanger"></small>
                    </div>
                    <div class="contenedor-botones-admin">
                        <button class="contenedor-boton-admin" type="reset">
                            <a href="/admin/products" class="titulo-boton-admin">Cancelar</a>
                        </button>
                        <button class="contenedor-boton-admin" type="submit">Guardar</button>
                    </div>
                </div>
              
            </form>
        </div>
    </main> 
    <script src="/js/validations/validationsProducts.js"></script> 
</body>
</html>