<!DOCTYPE html>
<html lang="es">
    
<%- include('../../partials/head', {title: 'Creando nuevo producto'})%>

<body class="vista-admin-producto">

    <%- include('../../partials/header-administracion')%>

    <main class="tablero-admin-producto">
        <div class="contenedor-admin-producto">
            <p class="titulo-formulario-admin">Creado productos:</p>
            <form id="formProduct" class="formulario-admin-producto"action="/admin/products/store" method="POST" enctype="multipart/form-data" >
                <div class="contenedor-datos-1">
                    <div class="datos-productos-admin">
                        <label for="agregar-nombre">Nombre de producto:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-pencil-alt"></i>
                            <input class="input-agregar-dato require" name="nombre" type="text" id="agregar-nombre" value="<%= locals.old && old.nombre %>">
                        </div>
                        <small id="errorNombre" class="errorSubmit"></small>
                        <% if (locals.errors && errors.nombre) { %>  
                            <small><%= errors.nombre.msg  %> </small>
                        <% } %>
                    </div>
                    <div class="datos-productos-admin">
                        <label for="agregar-precio">Precio:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-dollar-sign"></i>
                            <input class="input-agregar-dato require" name="price" type="text" id="agregar-precio" value="<%= locals.old && old.price %>">
                        </div>
                        <small id="errorPrice" class="errorSubmit"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small><%= errors.price.msg %> </small>
                        <% } %>
                    </div>
                    <div class="datos-productos-admin">
                        <label for="agregar-discount">descuento:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-paint-brush"></i>
                            <input class="input-agregar-dato" name="discount" type="text" id="agregar-discount" value="<%= locals.old && old.discount %>">
                        </div>
                        <small id="errorDiscount"></small>
                        <% if (locals.errors && errors.discount) { %>
                            <small><%= errors.discount.msg %></small>
                        <% } %>
                    </div>
                    <div class="descripcion-productos-admin">
                        <label for="descripcion">Descripción del producto</label>
                        <div>
                            <textarea class="textarea-admin require" name="description" id="descripcion" cols="10"  rows="10"><%= locals.old && old.description %></textarea>
                        </div>
                        <% if (locals.errors && errors.description) { %>
                            <small><%= errors.description.msg %></small>
                        <% } %>
                    </div>
                    <small id="errorDescription" class="errorSubmit"></small>    
                </div>
                
                <div class="contenedor-datos-2">
                    <div class="select-opciones-administrador">
                        <label>Categorías:</label>
                        <div class="select-opcion-administrador">     
                            <select class="seleccion-admin require" name="category" id="category">
                                <option selected hidden value="">categorias</option>
                                <% categories.forEach(category => { %>
                                <option class="opcion-admin" value="<%= category.idcategory %>" <%=locals.old && old.category == category.idcategory ? 'selected':''%>><%= category.name %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <small id="errorCategory" class="errorSubmit"></small>
                        <% if (locals.errors && errors. category) { %>
                            <small><%= errors.category.msg %></small>
                        <% } %>
                    </div>
                    <div class="select-opciones-administrador">
                        <label>Sub-Categorías:</label>
                        <div class="select-opcion-administrador">
                            <select class="seleccion-admin require" name="subcategory" id="subcategory">
                                <option selected hidden value="">sub-categorias</option>
                                <% subcategories.forEach(subcategory => { %>     
                                    <option class="opcion-admin" value="<%- subcategory.idsubcategory %>" <%=locals.old && old.subcategory == subcategory.idsubcategory ? 'selected':''%>><%= subcategory.name %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <small id="errorSubcategory" class="errorSubmit"></small>
                        <% if (locals.errors && errors.subcategory) { %>
                            <small><%= errors.subcategory.msg %></small>
                        <% } %>
                    </div>
                    <div class="upload-image">
                        <label>Agregar imagen:</label>
                        <div class="contenedor-imagen-admin">
                            <label for="image-create-product">- Subir imagen -</label>
                            <input class="imagen-admin" type="file" name="image" id="image-create-product">
                        </div>
                        <div class="imagen-producto-admin" id="image-preview">
                            <img src="" id="imagen-previa">
                            <i class="fas fa-camera"></i>
                        </div>
                        <small id="errorImage"></small>
                    </div>
                    <div class="datos-productos-admin">
                        <label for="agregar-cantidad">Cantidad:</label>
                        <div class="contenedor-agregar-dato">
                            <i class="fas fa-dollar-sign"></i>
                            <input class="input-agregar-dato require" name="stock" type="text" id="agregar-cantidad" value="<%= locals.old && old.stock %>">
                        </div>
                        <small id="errorStock" class="errorSubmit"></small>
                        <% if (locals.errors && errors.stock) { %>
                            <small><%= errors.stock.msg %></small>
                        <% } %>
                    </div>
                    <div class="contenedor-botones-admin">
                        <button class="contenedor-boton-admin" type="reset">
                            <i class="fas fa-times-circle"></i>
                            <a href="/admin/products" class="titulo-boton-admin">Cancelar</a>
                        </button>
                        <button class="contenedor-boton-admin" type="submit">
                            <i class="fas fa-check-circle"></i>
                            <p class="titulo-boton-admin">Guardar</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main> 
    <script src="/js/validations-product.js"></script>
</body>
</html>