<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %> 
<body>
    <%- include('../../partials/header.ejs') %> 
    <section class="card-filter-container">
      
        <h3 class="section-title">subcategorias y sus productos:</h3> 
    <div class="container-listProduct">
    <div class="filter-list">
       <h3 class="title-filter">Filtrar Por Precio</h3>
<form action="" method="get">
      <div class="input-filter">
      <label for="filtro">$1000 a $2500</label>
      <input type="radio" name="price-1" id="">
    </div>

    <div class="input-filter">
      <label for="filtro">$2500 a $4000</label>
      <input type="radio" name="price-2" id="">
    </div>

    <div class="input-filter">
      <label for="filtro">$4000 a $6000</label>

      <input type="radio" name="price-3" id="">

    </div>

    <div class="input-filter">
      <label for="filtro">$6000 a $10000</label>
      <input type="radio" name="price-4" id="">
    </div>
     <button type="submit" class="btn btn-sucess">filtrar</button>
  </form>
    <h3 class="title-filter"> subcategoria</h3>

    <div class="input-filter-subcategory">
        </div>
    </div>
      

   <div class="list-products">
     <% for(let i = 0; i < products.length; i++) { %>
    
          <article class="card-filter">
            <img
              src="/images/products/<%- products[i].product_images[0].images %> "
              width="100%"
              alt="Foto "
            />
            <div class="card-content">
              
              <hr>
              <div class="product-info-filter">
                <div class="product-discount"><%- products[i].discount %> % OFF</div>
                <h5 class="product-name-filter">  <% if (products[i].nombre.length >= 15) { %>
                  <%- `${products[i].nombre.slice(0,15)}...` %>
              <% } else { %>
                  <%= products[i].nombre %>
              <% } %> </h5>
                <p class="product-price-filter">$<%-products[i].price %> </p>
                    </p>
              </div>
              <div class="button-container-filter">
            <form action="/carrito"  onclick="addItem('<%-products[i].idproducts%>')" method="get">
                <button type="submit" class="button-card-filter">comprar</button>
              </form>
    
              <form action="/productDetail" method="get">
                <button type="submit" class="button-ver-filter"><i class="far fa-eye"></i>ver</button>
              </form>
            </div>
            </div>
          </article>
          <% } %>
      
    </div>
    </section>
<%- include('../../partials/footer.ejs') %> 
</body>
</html>