<section class="card-viseted">
 
   
  
    <h3 class="section-title"><%- title %> </h3>
    <% sliderProducts.forEach(product => { %>
      <a href="/productDetail/<%= product.idproducts %> ">
    <article class="card">
        <img
          src="/images/products/<%= product.product_images[0].images%> "
          width="100%"
          alt="<%= product.name %> "
        />
        <div class="card-content">
          <!-- <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div> -->
          <hr>
          <div class="product-info">
            <h5 class="product-name"><%= product.name %> </h5>
            <p class="product-price">$<%=product.price %> </p>
                </p>
          </div>
          <div class="button-container">
        <form action="/carrito" method="get">
            <button type="submit" class="button-card"onclick="addItem('<%-product.idproducts%>')" >comprar</button>
          </form>

          <form action="/productDetail/<%=product.idproducts %> " method="get">
            <button type="submit" class="button-card-ver"><i class="far fa-eye"></i>ver</button>
          </form>
        </div>
        </div>
      </article>
    </a>

      <% }) %>

</section>