<section class="special-offers">
    <h2 class="section-title-servicio"><%= sliderTitle %></h2>

    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity" data-flickity-options='{ "wrapAround": true }' >
            <% for( let i = 0; i < sliderProducts.length; i++ ) { %>
            
            
            <a href="/productDetail/<%- sliderProducts[i].idproducts %>">
                <div class="carousel-cell  productSlide">
                    <div class="productDiscount"><%- sliderProducts[i].discount %>% OFF</div>
                    <% for( let j = 0; j < images.length; j++ ) { %>
                        <% if (sliderProducts[i].idproducts == images[j].idproducts) { %>
                            <img src="/images/products/<%- images[j].images%>" alt="<%- sliderProducts[i].nombre %> ">
                        <% } %>
                    <% } %>
                   
                    <p class="productName"> 
                        <% if (sliderProducts[i].nombre > 30) { %>
                            <%- `${sliderProducts[i].nombre.slice(0,30)}...` %>
                        <% } else { %>
                            <%= sliderProducts[i].nombre %>
                        <% } %>
                    </p>
                    <h4 class="productPrice">$<%- sliderProducts[i].price - sliderProducts[i].price * sliderProducts[i].discount / 100 %></h4>
                </div>
            </a>
        <% } %>
    </div>

</section> 