<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Ingresar a una cuenta'}) %> 
<body class="forms-body">
  <%- include('../partials/header.ejs') %> 
  
  <main class="main-login">
      <img class="background-form" src="../images/images-forms/background-2.jpg" alt="Imagen fondo de mascotas">
    <div class="form">
      <div class="data-container"><h1 class="login">Login</h1></div>
      <form id="form" action="/users/login" method="POST">
          <div class="data-container">
              <div class="input-user-container">
                  <i class="fas fa-envelope"></i>
                  <input type="text" id="email" class="input-text data" name="email" placeholder="EMAIL" value="<%= locals.old && old.email %>">
              </div>
              <small id="errorEmail" class="text-error errorSubmit"></small>
              <% if (locals.errors && errors.email) { %>
              <small class="text-error"><%= errors.email.msg %></small>
              <% } %>
          </div>
          <div class="data-container">
              <div class="input-user-container">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="password" class="input-text data" name="password" placeholder="CONTRASEÑA">
              </div>
              <small id="errorPassword" class="text-error errorSubmit"></small>
              <% if (locals.errors && errors.password) { %>
              <small class="text-error"><%= errors.password.msg %></small>
              <% } %>
          </div>
          <div class="data-container" >
              <div class="check-user-container">
                  <input type="checkbox" name="remember" id="check">
                  <label for="check">Recordarme</label>
              </div>
          </div>
          <div class="btn-submit-container" >
              <button class="btn-form" type="submit">INICIAR SESIÓN</button>
          </div>
          <div class="link-pass-user"><a class="link-login" href="#">¿Olvidaste tu contraseña?</a></div>
          <div class="link-register-user"><a class="link-login" href="/users/register"><i class="fas fa-reply"></i>Crear cuenta</a></div>
          <div class="data-container">
              <a href="/"><i class="fas fa-home"></i></a>
          </div>
      </form>
    </div>
  </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/validations/validationsUsers.js"></script> 
</body>
</html>