<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Perfil de usuario'}) %> 
<body >
  <%- include('../partials/header.ejs') %> 
  <main class="main-login">  
    <img class="background-form" src="/images/back.jpg" alt="Imagen fondo de mascotas">
    <div class="form">
      <div><i class="fas fa-camera camera-user"></i><img src="/images/users/<%= user.avatar %>" id="user-profile"></div>
      <div class="data-container"><h1 class="login">Mi perfil</h1></div>
      <div class="data-container">
        <h1 class="principal-data-profile">Bienvenid@ <%= user.name %>!!!</h1>
        <ul class="data-list-profile">
          <li class="item-data-profile"><p class="data-profile"><i class="fas fa-user icon-link-profile"></i><%= user.name %> <%= user.last_name %></p></li>
          <li class="item-data-profile"><p class="data-profile"><i class="fas fa-envelope icon-link-profile"></i><%= user.email %></p></li>
          <li class="item-data-profile"><p class="data-profile"><i class="fas fa-analytics icon-link-profile"></i><%= user.rol === 'ROL_ADMIN'? 'Administrador': 'Usuario' %></p></li>
        </ul>
      </div>
      
      <div class="data-links">
          <a href="/"><i class="fas fa-home iconProfile"></i></a>
          <a href="/users/profile/<%= user.idusers %>/edit"><i class="fas fa-user-edit iconProfile"></i></a>
          <% if (user.rol === 'ROL_ADMIN') { %>
            <a href="/admin/products"><i class="fas fa-analytics iconProfile"></i></a>
          <% } %>
          <a href="/users/logout"><i class="fas fa-sign-out-alt iconProfile"></i></a>
        </div>
      </div>
  </main>
  <%- include('../partials/footer.ejs') %> 
</body>
</html>