<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Perfil de usuario'}) %> 
<body >
  <%- include('../partials/header.ejs') %> 
  <main class="profileView">
    <div class="containerProfile">
      <div class="headerProfile">
        <div class="avatarProfileForm"><img id="user-profile" src="/images/users/<%= user.avatar %> " alt=""></div>
      </div>
      <div class="bodyProfile">
        <ul class="dataListProfile">
          <li class="itemDataProfile"><h1 class="dataProfile">Bienvenid@ <%= user.name %>!!!</h1></li>
          <li class="itemDataProfile"><p class="dataProfile"><i class="fas fa-user iconDataProfile"></i><%= user.name %> <%= user.last_name %></p></li>
          <li class="itemDataProfile"><p class="dataProfile"><i class="fas fa-envelope iconDataProfile"></i><%= user.email %></p></li>
          <li class="itemDataProfile"><p class="dataProfile"><i class="fas fa-envelope iconDataProfile"></i><%= user.rol === 'ROL_ADMIN'? 'Administrador': 'Usuario' %></p></li>
        </ul>
      </div>
      <div class="footerProfile">
        <ul class="linksListProfile">
          <li class="itemProfile"><a class="linkProfile" href="/users/profile/<%= user.idusers %>/edit"><i class="fas fa-edit iconLinkProfile"></i><p class="nameIconLink">Editar</p></a></li>
          <% if (user.rol === 'ROL_ADMIN') { %>
            <li class="itemProfile"><a class="linkProfile" href="/admin/products"><i class="fas fa-analytics iconLinkProfile"></i><p class="nameIconLink">Administrar</p></a></li>
          <% } %>
          <li class="itemProfile"><a class="linkProfile" href="/users/logout"><i class="fas fa-sign-out-alt iconLinkProfile"></i><p class="nameIconLink">Salir</p></a></li>
        </ul>
      </div>
    </div>
  </main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>