<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Formulario de registro'}) %> 

<body class="forms-body">
  <%- include('../partials/header.ejs') %>
  
  <main class="main-login">
      
      <img class="background-form" src="/images/images-forms/background-2.jpg" alt="Imagen fondo de mascotas">
    <div class="form">
        <div><i class="fas fa-camera camera-user"></i><img src="" id="user-profile"></div>
        <div class="data-container"><h1 class="login">Registro</h1></div>
            <form id="form" action="/users/register" autocomplete="off" method="POST" enctype="multipart/form-data">
                <div class="data-container">
                    <div class="input-user-container">
                        <i class="fas fa-user iconFormUser"></i>
                        <input type="text" id="name" class="input-text data" name="name" placeholder="NOMBRE" value="<%= locals.old && old.name %>">
                    </div>
                    <small class="text-error errorSubmit" id="errorName"></small>
                    <% if (locals.errors && errors.name) { %>
                    <small id="errorName" class="text-error"><%= errors.name.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="input-user-container">
                        <i class="fas fa-user iconFormUser"></i>
                        <input type="text" id="lastName" class="input-text data" name="last_name" placeholder="APELLIDO" value="<%= locals.old && old.last_name %>">
                    </div>
                    <small class="text-error errorSubmit" id="errorLastName"></small>
                    <% if (locals.errors && errors.last_name) { %>
                    <small class="text-error" id="errorLastName"><%= errors.last_name.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="input-user-container">
                        <i class="fas fa-envelope iconFormUser"></i>
                        <input type="text" id="email" class="input-text data" name="email" placeholder="EMAIL" value="<%= locals.old && old.email %>">
                    </div>
                    <small class="text-error errorSubmit" id="errorEmail"></small>
                    <% if (locals.errors && errors.email) { %>
                    <small class="text-error" id="errorEmail"><%= errors.email.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="input-user-container">
                        <i class="fas fa-unlock iconFormUser"></i>
                        <input type="text" id="password" class="input-text data"name="password" placeholder="CONTRASEÑA">
                    </div>
                    <small class="text-error errorSubmit" id="errorPassword"></small>
                    <% if (locals.errors && errors.password) { %>
                    <small class="text-error" id="errorPassword"><%= errors.password.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="input-user-container">
                        <i class="fas fa-lock iconFormUser"></i>
                        <input type="text" id="pass2" class="input-text data" name="pass2" placeholder="CONFIRME CONTRASEÑA">
                    </div>
                    <small class="text-error errorSubmit" id="errorPass2"></small>
                    <% if (locals.errors && errors.pass2) { %>
                    <small class="text-error" id="errorPass2"><%= errors.pass2.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="file-user-container">
                        <label for="avatar">SUBIR FOTO</label>
                        <input type="file" id="avatar" class="input-file-user data" name="avatar" id="avatar">
                    </div>
                    <small class="text-error" id="errorAvatar"></small>
                    <% if (locals.errors && errors.image) { %>
                    <small class="text-error" id="errorAvatar"><%= errors.image.msg %></small>
                    <% } %>
                </div>
                <div class="data-container">
                    <div class="check-user-container">
                        <input type="checkbox" name="terms" id="check" class="data">
                        <label for="check">Acepto términos y condiciones</label>
                    </div>
                    <small class="text-error" id="errorTerms"></small>
                    <% if (locals.errors && errors.terms) { %>
                    <small class="text-error" id="errorTerms"><%= errors.terms.msg %></small>
                    <% } %>
                </div>
                <div class="btn-submit-container" >
                    <button class="btn-form" type="submit">REGISTRARSE</button>
                </div>
                <div class="link-register-user"><a class="link-login" href="/users/login"><i class="fas fa-reply"></i>Ya tengo cuenta</a></div>
                <div class="data-container">
                    <a href="/"><i class="fas fa-home"></i></a>
                </div>
            </form>
        </div>
  </main>
    <%- include('../partials/footer.ejs') %> 
    <script src="/js/validations/validationsUsers.js"></script>
</body>
</html>
